.social_media
    padding: 2rem 0
    .titulo
        display: flex
        align-items: center
        margin-bottom: 1rem
        text-transform: uppercase
        color: #02182B
        font-family: 'Muli-Extra-Bold-Italic';
        font-size: 32px
        img
            width: 22px
            margin-right: 10px
    .social-btn
        svg
            height: 26px
            cursor: pointer
            margin-left: 1rem
            path
                fill: #02182B
            &:hover
                path
                    fill: #E71D36
        svg.active
            path
                fill: #e71d36
