#busqueda
    display: flex
    justify-self: end
    align-self: center
    height: 26px
    border: none
    border-radius: 8px
    padding: 10px
    transition: all 0.5s
    #search
        justify-self: end
        align-self: center
        background: none
        outline: none
        border: none
        width: 0
        line-height: 40px
    .search_btn
        background: none
        border: none
        height: 30px
        img
            height: 100%
            align-self: center
