.category-date
    .category
        background: #E71D36
        color: #f2f2f2
        padding: 0.5rem 1rem
        border-radius: 7px
        margin-right: 2rem
        font-size: 21px
        font-family: 'Muli-Italic'
        text-transform: uppercase
        display: inline-block
    .date
        font-family: 'Muli-Italic'
        text-transform: uppercase
        font-size: 21px
.nota-content
    font-size: 18px
    font-family: 'Muli'
    margin-top: 2rem

    img
        max-width:100% !important
        height: auto !important
    .title
        font-family: 'Muli-Black'
        font-size: 49px
    p
        cite
            color: #E71D36
            font-size: 33px
            font-family: 'Muli-Black'
            font-style: normal
            position: relative
            margin-top: 2.5rem
            margin-bottom: 2.5rem
            padding: 1rem 0
            display: flex
            align-items: center
            margin: 4rem 0
            &::before
                content: url('../../assets/images/quote2.png')
                width: 70px
                height: 60px
                margin-right: 2rem
    .author
        font-weight: bold
    .tags
        padding-bottom: 1.5rem
        .every-tag
            display: inline 
            line-height: 300%
            white-space: normal
        .tag
            background: #E0E0E0
            color: #E71D36
            font-weight: bold
            padding: 0.5rem 1rem
            border-radius: 7px
            margin-right: 0.8rem
            display: inline-block
            line-height: 1em
    .relacionados
        margin: 2.5rem 0
        h2
            font-family: 'Muli-Extra-Bold'
            color: #E71D36
            font-size: 25px
        hr
            display: none !important
        .category-date
            display: none
    
#share
    svg g
        clip-path: none
    svg rect
        fill: #02182B
    a, i
        &:hover
            svg rect
                fill: #E71D36


@media screen and (min-width: 1900px)
    .nota-content
        hr
            width: 90%
            margin-left: 0
