.categoria
    margin-top: 2.5rem
    .card
        background: #f2f2f2
    .titulo
        display: flex
        align-items: center
        margin-bottom: 1rem
        text-transform: uppercase
        color: #02182B
        font-style: italic
        font-size: 32px
        img
            width: 22px

.notas_categoria
    display: grid
    grid-template-columns: repeat(3, 313.78px)
    justify-content: space-between
