.results-card
    width: 695px
    height: 165px
    display: grid
    grid-template-columns: 223px 1fr
    gap: 45px
    text-decoration: none
    margin-bottom: 1rem
    color: #02182B
    img
        max-height: 165px
        max-width: 223px
    .card-body
        align-self: center
        .fecha
            font-family: 'Muli-Italic'
            font-size: 16px
    .title-more
        h3
            font-family: 'Muli-Extra-Bold'
            font-size: 22px
            &:hover
                color: #e71d36
        .leer_mas
            margin-bottom: 2rem
            text-decoration: none
            font-family: 'Muli-Semi-Bold-Italic'
            img
                width: 18px
                margin-right: 3px
            span
                color: #E71D36 !important
                text-transform: uppercase
                font-size: 16px
                &:hover
                    color: #02182B !important
hr
    border: 1px solid #E0E0E0
    margin-bottom: 2rem
