#ultimas-notas
    background: #02182B
    padding: 1rem 0
    border: none
    color: #f2f2f2
    font-size: 37px
    h1
        font-family: 'Muli-Black-Italic'
        font-size: 37px
        text-transform: uppercase
    .ultimas_notas
        display: grid
        grid-template-columns: repeat(3, 313.78px)
        justify-content: space-between
        row-gap: 10px
        column-gap: 60px
// slick slider
.slick-list
    // padding: 10px 10px !important
.slick-track
    width: 90000px !important
.slick-slide
    background-color: #fff
    width: 100% !important
    max-width: 260px
    height: 350px
    // justify-self: center
    // position: relative
    margin-bottom: 2rem
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
    text-decoration: none
    transition: transform 0.3s ease-in-out
    font-size: 23px
    margin: 0 15px
    .card
        .category
            margin-top: 15px
.numerador
    display: block
    text-align: center
    font-size: 23px
    margin-top: 1rem
    font-family: 'Muli-Bold'
    span
        color: #E71D36

@media (max-width: 414px)
    .slick-slide
        max-width: 300px

@media (max-width: 375px)
    .slick-slide
        max-width: 280px

@media (max-width: 360px)
    .slick-slide
        max-width: 270px

@media (max-width: 320px)
    .slick-slide
        max-width: 250px
